@font-face {
  font-family: "B Nazanin";
  src: url("../fonts/b-nazanin.ttf");
}

body {
  background-color: #181a1b;
  color: white;
  font-family: "B Nazanin", sans-serif;
}

.site-header {
  text-align: center;
  padding: 5px;
}

.site-title {
  font-size: 32px;
}

.container {
  padding: 20px;
  text-align: justify;
  font-size: 24px;
  font-weight: bold;
}

.site-footer-title {
  text-align: left;
}
